<?xml version="1.0" encoding="UTF-8"?>
<!-- /src/main/java/applicationContext.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <!-- project 객체 생성 -->
 <bean id="project" class="chap2.Project">
 	<property name="srcdirs">
 	<list>
 		<value>src/</value>
 		<value>srcResource</value>
 	</list>
 	</property>
 	<property name="bindir" value="bin/"/>
 	<property name="classpath" value="src/"/>
 	<property name="b"><ref bean = "runner"/></property>
 </bean>           

 <bean id="runner" class="chap2.BuilderRunner">
 	<!-- setup를 가지고 있는 path를 runner에 데이터 주입됨. -->
 	<property name="path" value="c:/setup/"/>
 </bean>
 
 <!-- 생성자 매개변서 전달자 : constructor-arg -->
 <bean id="write" class="chap2.WriteImpl">
 	<constructor-arg><ref bean="dao"/></constructor-arg>
 </bean>
 <!-- dao객체를 만들어서 write에게 전달. -->
<bean id="dao" class="chap2.OracleArticleDao">
	
</bean>
</beans>