<?xml version="1.0" encoding="UTF-8"?>
<!-- src/main/java/aop.xml.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">

<!-- handlerMapping약속 
     url과 Controller 연결 설정
     (MVC)Controller servlet -> dispatherServlet
     (MVC)Action -> Controller  
-->
<!-- indexController에 들어갈 bean객체 무조건 생성되야됌 -->
<bean id="handlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	<property name="mappings">
		<value>/index.shop=indexController
			   /detail.shop=detailController</value>
	</property>

</bean>
<!-- indexController
     dataSource로부터 주입이됌 -->
<bean id="indexController" class="controller.IndexController"
	  p:shopService-ref="shopService"/>
<bean id="detailController" class="controller.DetailController"
	  p:shopService-ref="shopService"/>
<bean id="shopService" class="logic.ShopService"
	  p:itemDao-ref="itemDao"/>
<bean id="itemDao" class="dao.ItemDao"
	  p:dataSource-ref="dataSource"/>


<!--  뷰결정자. index값이 들어옴
  	  prefix/index/suffix
  	  /WEB-INF/view/index.jsp`-->
<bean id="viewResolver" class=
"org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="viewClass">
		<value>org.springframework.web.servlet.view.JstlView</value>
	</property>
	<property name="prefix"><value>/WEB-INF/view/</value></property>
	<property name="suffix"><value>.jsp</value></property>
</bean>
</beans>